@model BookDonation.DB.BooksViewModels.RequestBookVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="title">
    <h1>Request</h1>
</div>

<div class="buttons">
    <button id="hide">Hide</button>
    <button id="show">Show</button>
    <img src="~/images/searchbooks.png" id="toggle" />
</div>

<div class="instructions">
    <div class="ptext">
        1. Enter Book Title and Author.
        <br />
        2. Submit request.
    </div>
</div>

@using (Html.BeginForm())
{
<fieldset>
    <div class="title-label">
        @Html.LabelFor(model => model.Title)
    </div>
    <div class="title-field">
        @Html.TextBoxFor(model => model.Title)
    </div>
    <div class="title-label">
        @Html.LabelFor(model => model.Author)
    </div>
    <div class="title-field">
        @Html.TextBoxFor(model => model.Author)
    </div>
    <br /><br />
    <input id="Reserve" type="submit" value="submit" />
    <input id="Cancel" type="reset" value="reset" />
</fieldset>
}

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $(document).ready(function () {
        $("#hide").click(function () {
            $("#toggle").slideToggle();
        });
        $("#show").click(function () {
            $("#toggle").slideToggle();
        });
    });
</script>




