@model BookDonation.DB.BooksViewModels.ReserveBookVM


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="title">
    <h1>Reserve</h1>
</div>

<div class="buttons">
    <button id="hide">Hide</button>
    <button id="show">Show</button>
    <img src="~/images/book2_img.png" id="toggle" />
</div>

<div class="instructions">
    <div class="ptext">
       
            1. Enter Book Title, Author, and desired Pick Up Day for Book.
        <br />
            2. Submit Reserve request.
        
    </div>
</div>

@using (Html.BeginForm())
{
<fieldset>
    <div class="formHeader">
        @Html.ActionLink("Title", "Reserve", new { sortOrder = ViewBag.TitleSortParam })

        @Html.ActionLink("Pickup Deadline", "Reserve", new { sortOrder = ViewBag.PickupDeadlineSortParm })
    </div>

    <div class="title-label">
        @Html.LabelFor(model => model.Title)
    </div>
    <div class="title-field">
        @Html.TextBoxFor(model => model.Title)
    </div>
    <div class="title-label">
        @Html.LabelFor(model => model.Author)
    </div>
    <div class="title-field">
        @Html.TextBoxFor(model => model.Author)
    </div>
    <br /><br />
    <input id="Reserve" type="submit" value="submit" />
    <input id="Cancel" type="reset" value="reset" />
</fieldset>
}

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $(document).ready(function () {
        $("#hide").click(function () {
            $("#toggle").slideToggle();
        });
        $("#show").click(function () {
            $("#toggle").slideToggle();
        });
    });
</script>




