@model IEnumerable<BookDonation.DB.BooksViewModels.ReserveListVM>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="title">
    <h1>Reserve</h1>
</div>

<div class="buttons">
    <button id="hide">Hide</button>
    <button id="show">Show</button>
    <img src="~/images/book2_img.png" id="toggle" />
</div>

<div class="instructions">
    <div class="ptext">
        <ol>
            If you wish to reserve a book, simply click the "Reserve" link
        </ol>
    </div>
</div>


@using (Html.BeginForm("Reserve", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <fieldset>
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.ISBN)
                </th>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.QtyAvailable)
                </th>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                if (item.QtyAvailable != 0)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td></td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Author)
                        </td>
                        <td></td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ISBN)
                        </td>
                        <td></td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QtyAvailable)
                        </td>
                        <td></td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Image)
                        </td>
                        <td></td>
                        <td>
                            @Html.ActionLink("Reserve", "ReserveReceipt", new { isbn = item.ISBN })
                        </td>
                    </tr>
                }
            }
        </table>

        <br /><br />
        @*<input id="Reserve" type="submit" value="submit" />
            <input id="Cancel" type="reset" value="reset" />*@
    </fieldset>
}

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $(document).ready(function () {
        $("#hide").click(function () {
            $("#toggle").slideToggle();
        });
        $("#show").click(function () {
            $("#toggle").slideToggle();
        });
    });
</script>




